body {
    background-image: url('../assets/sola.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  input[type="text"], .searchbar {
    background: linear-gradient(to right, #ffffff, #e0e0e0); /* Gradient background */
    border: 1px solid #ccc; /* Border color */
    padding: 8px; /* Adjust padding as needed */
    color: #333; /* Font color */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    width: 100%; /* Full width or adjust as desired */
    font-size: 16px; /* Adjust font size as needed */
  }

  .suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background: white;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  
  .suggestions-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0;
  }
  
  header {
    background: #50a3a2;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
  }
  
  header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding {
    float: left;
  }
  
  header #branding h1 {
    margin: 0;
  }
  
  header nav {
    float: right;
    margin-top: 10px;
  }
  
  header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
  }
  
  header a:hover {
    color: #cccccc;
    font-weight: bold;
  }
  
  #showcase {
    min-height: 400px;
    background: no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
  }
  
  #showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
  }
  
  #showcase p {
    font-size: 20px;
  }
  
  footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
  } .weather-data {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
  }
  
  .weather-item {
    font-size: 16px;
    color: #333;
  }
  .weather-label {
    margin-right: 1rem;
  }
  
  .weather-value {
    margin-right: 1rem;
  }
  
  .weather-unit {
    margin-right: 1rem;
  }
  
  .weather-icon {
    margin-right: 1rem;
  }